<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<!-- Using the connection string provided by the user -->
	<!-- Ensure Initial Catalog points to your database that contains dbo.Users -->
	<add name="DefaultConnection" connectionString='Data Source=.\SQLEXPRESS;Initial Catalog=Salman_Farook_LoginDB;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name="Microsoft SQL Server Management Studio - Query";Command Timeout=0' providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
